@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
	margin: 60px auto;
	font-family: 'Roboto', Arial, Helevtica, sans-serif;
	width: 85%;
	background-color: #FFFFFF; 
}
nav ul {
    font-family: 'Roboto', Arial, Helevtica, sans-serif;
    padding-top: 0.0em; padding-bottom: 0.0em; padding-left: 1.5em;
    list-style: none;
    font-weight: bold;
	background-color: #FFFFFF;
}
nav ul li {
    display: inline;
    margin-right: 1.5em;
}
footer ul {
    font-family: 'Roboto', Arial, Helevtica, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold; font-size: 0.8em;
	color: #000000;
}
footer ul li {
    display: inline;
}
a {
    text-decoration: none;
    color: #191970;
	font-size: 1.0em; font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
a.nav {
    text-decoration: none;
    color: #808080;
	font-size: 1.25em;
}
a.nav:hover {
    text-decoration: underline;
}
a.navT {
    text-decoration: none;
    color: #000000;
	font-size: 3em;
}
a.navT:hover {
    text-decoration: underline;
}
a.post {
    text-decoration: none;
    color: #FFFFFF;
	font-size: 2.4em; font-weight: bold;
}
a.post:hover {
    text-decoration: underline;
}
h1 {
    font-size: 4em;
    font-family: 'Roboto', Arial, Helevtica, sans-serif;
	font-weight: bold;
	color: #FFFFFF; background-color: #191970;
	padding-top: 0.8em; padding-bottom: 0.8em;padding-left: 0.5em; 
}
h4 {
    font-size: 2em;
    font-family: 'Roboto', Arial, Helevtica, sans-serif;
}
p {
    font-size: 1.4em;
    font-family: 'Roboto', Arial, Helevtica, sans-serif;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5; border-color: #808080;
    font-size: 0.9em;
}

ul.posts { 
	margin-left: 5.0em;margin-right: 8.0em;
	text-transform: none;
	color: #FFFFFF;
}

ul.posts li {
	list-style: none;
	padding: 1em;
	background-color: #191970; opacity:0.30;
}
