@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    margin: 60px auto;
	font-family: 'Roboto', Arial, Helevtica, sans-serif;
    width: 70%;
}
nav ul, footer ul {
    font-family: 'Roboto', Arial, Helevtica, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 4em;
    font-family: 'Roboto', Arial, Helevtica, sans-serif;
}
h2 {
    font-size: 2.5em;
    font-family:'Roboto', Arial, Helevtica, sans-serif;
}
h4 {
    font-size: 2em;
    font-family: 'Roboto', Arial, Helevtica, sans-serif;
}
p {
    font-size: 1.5em;
    font-family: 'Roboto', Arial, Helevtica, sans-serif;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.0em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.1em;
	text-transform: lowercase;
}

ul.posts li {
    list-style: none;
}
