@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
	margin: 60px auto;
	font-family: 'Roboto', Arial, Helevtica, sans-serif;
	width: 70%;
	background-color: #FFFFFF; 
}
nav ul {
    font-family: 'Roboto', Arial, Helevtica, sans-serif;
    padding-top: 15px; padding-bottom: 15px; padding-left: 0px;
    list-style: none;
    font-weight: bold;
	font-size: 1.25em;
	height: 1em;
	background-color: #FFFFFF;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
footer ul {
    font-family: 'Roboto', Arial, Helevtica, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
	font-size: 1em;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #808080;
}
a:hover {
    text-decoration: underline;
}
a.nav {
    text-decoration: none;
    color: #808080;
}
a.nav:hover {
    text-decoration: underline;
}
h1 {
    font-size: 4em;
    font-family: 'Roboto', Arial, Helevtica, sans-serif;
}
h4 {
    font-size: 2em;
    font-family: 'Roboto', Arial, Helevtica, sans-serif;
}
p {
    font-size: 1.5em;
    font-family: 'Roboto', Arial, Helevtica, sans-serif;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.0em;
}

ul.posts { 
	margin-left: 30px;margin-top: 0px;margin-bottom: 50px;
	font-size: 1.5em;
	text-transform: lowercase;
}

ul.posts li {
	list-style: none;
	padding: 0.1em;
}
