<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/" class="nav">Home</a></li>
		        	<li><a href="/about" class="nav">About</a></li>
	        		<li><a href="/blog" class="nav">Work</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/tp175" target="_blank">github.com/tp175</a></li>
				</ul>
			</footer>
		</body>
	</html>
